@import "_variables";

.header{
    background-color: $primary-color;
    color: white;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.header-title{
    font-size: 8rem;
    text-align: center;
}