@import "_variables";

.header{
    background-color: $primary-color;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.header-title{
    color: white;
    font-size: 8rem;
    text-align: center;
    position: absolute;
}
.header-background{
    background-size: cover;
    width: 120%;
    height: 110%;
    opacity: 20%;
}